.DS_Store
dist
dist-ssr
node_modules

# Local env files
*.local

# Log files
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.idea
.vscode
